.popover-container-0 {
  box-shadow: none;
  border-radius: 0;
  padding: 5px;
  border: 0;
  background: #234E76;
  color: #FFFFFF;
  max-width: none;
  font-size: 1em;
  width: 350px;
  position: absolute;
  top: 120px;
  left: 250px;
}

.popover-container-1 {
  box-shadow: none;
  border-radius: 0;
  padding: 5px;
  border: 0;
  background: #234E76;
  color: #FFFFFF;
  max-width: none;
  font-size: 1em;
  width: 350px;
  position: absolute;
  top: 200;
  left: 250px;
}

body {
  padding: 10px;
}