.popover-container {
  box-shadow: none;
  border-radius: 0;
  padding: 5px;
  border: 0;
  background: #234E76;
  color: #FFFFFF;
  max-width: none;
  font-size: 1em;
  width: 350px;
  position: absolute;
  top: 100px;
  left: 200px;
}

body {
  padding: 10px;
}